<a href="https://colab.research.google.com/github/PosgradoMNA/A01793650/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

**MODULO 1**

find the result of executing print("Hello\nWorld!") statement.

In [ ]:
print("Hello\nWorld!")

Hello
World!

What is the output of executing the following statement: # print('Hello World!')?

In [1]:
# print('Hello World!')

What is the type of the following: int(1.0)?

In [2]:
int(1.0)

1

Es un n√∫mero entero

Enter the code to convert the number 1 to a Boolean.

In [3]:
bool(1)

True

Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?

In [5]:
Numbers = "0123456"

In [9]:
Numbers[::2]

'0246'

What is the result of the following line of code:

"0123456".find('1')

In [10]:
"0123456".find('1')

1

What is the result of the following operation in Python:

3 + 2 * 2

In [11]:
3 + 2 * 2

7

In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [12]:
name = 'Lizz'

In [13]:
print(name[0:2])

Li

In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [14]:
var = '01234567'

In [15]:
print(var[::2])

0246

In Python, what is the result of the following operation '1'+'2'?

In [16]:
'1'+'2'

'12'

Given myvar = 'hello', how would you convert myvar into uppercase?

In [17]:
myvar = 'hello'

In [18]:
myvar.upper()

'HELLO'

**MODULO 2**

How do you access the last element of the following tuple: A=(0,1,2,3)?

In [19]:
A=(0,1,2,3)

In [21]:
A[3]

3

In [22]:
A[-1]

3

Consider the list: B=["a","b","c"].

What is the result of the following B[1:]

In [23]:
B=["a","b","c"]

In [24]:
B[1:]

['b', 'c']

What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

In [25]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

In [29]:
S={'A','B','C'}
U={'A','Z','C'}
S.intersection(U)

{'A', 'C'}

Consider the following dictionary:

D = {'a':0,'b':1,'c':2}

What is the result of the following: D.values()?

In [31]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

Consider the following dictionary:

D = {'a':0,'b':1,'c':2}
What is the output of the following D['b']?

In [32]:
D = {'a':0,'b':1,'c':2}
D['b']

1

What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')

In [33]:
A = ('a','b','c')
A[0]

'a'

How many duplicate elements can you have in a set?

0. You can only have one unique element in a set.

Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?

In [34]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

What is an important difference between lists and tuples?

Lists are mutable, tuples are not.